Repository daviseford/aos-reminders, pull requests merged in 2020-08, with the labels that each got.

#987 Improve imports, more tests, add intake script!
  .gitignore
  README.md
  package.json
  src/tests/azyr/getAzyrArmy.test.ts
  src/tests/battlescribe/battlescribeHTML.test.ts
  src/tests/fixtures/azyr/json/1592750625890-Azyr.json
  src/tests/fixtures/azyr/json/1593305871564-Azyr.json
  src/tests/fixtures/azyr/json/1593305883532-Azyr.json
  src/tests/fixtures/azyr/json/1593305922349-Azyr.json
  src/tests/fixtures/azyr/json/1593307774554-Azyr.json
  src/tests/fixtures/azyr/json/1593694727624-Azyr.json
  src/tests/fixtures/azyr/json/1594846214316-Azyr.json
  src/tests/fixtures/azyr/json/1595065135337-Azyr.json
  src/tests/fixtures/azyr/json/1595065148866-Azyr.json
  src/tests/fixtures/azyr/json/1595065157890-Azyr.json
  src/tests/fixtures/azyr/json/1595065176255-Azyr.json
  src/tests/fixtures/battlescribe/html/1593279607055-Battlescribe.html
  src/tests/fixtures/battlescribe/html/1593863449094-Battlescribe.html
  src/tests/fixtures/battlescribe/html/1594226326192-Battlescribe.html
  src/tests/fixtures/battlescribe/html/1594366095025-Battlescribe.html
  src/tests/fixtures/battlescribe/html/1595426828729-Battlescribe.html
  src/tests/fixtures/battlescribe/html/1595627477984-Battlescribe.html
  src/tests/fixtures/intake/placeholder.txt
  src/tests/fixtures/warscroll/json/1592412384855-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1592663232380-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1592831552808-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1593336693320-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1593886752516-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1593895699238-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1594282007060-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1594377996514-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1594797695246-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1594810379753-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1594936358979-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1594973407574-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1595035398538-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1595338408952-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1595404143054-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1595589808444-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1595637879055-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1595780382039-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1595853926515-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1595857359376-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1595857864850-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1596201912597-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1596201937582-Warscroll_Builder.json
  src/tests/warscroll/warscrollJson.test.ts
  src/tests/warscroll/warscrollPdf.test.ts
  src/utils/azyr/azyrPdf.ts
  src/utils/battlescribe/getters.ts
  src/utils/dev/intakeTests.ts
  src/utils/import/options.ts
  yarn.lock
Labels: azyr, battlescribe, enhancement, maintenance, rule updates, warscroll-builder

#991 Imports, rules, and tweaks while I'm on vacation
  config-overrides.js
  package.json
  src/army/khorne/artifacts.ts
  src/army/lumineth/allegiances.ts
  src/army/lumineth/units.ts
  src/army/sylvaneth/artifacts.ts
  src/army/sylvaneth/scenery.ts
  src/army/sylvaneth/units.ts
  src/tests/azyr/getAzyrArmy.test.ts
  src/tests/battlescribe/battlescribeHTML.test.ts
  src/tests/fixtures/azyr/json/1594502256562-Azyr.json
  src/tests/fixtures/battlescribe/html/1596870118915-Battlescribe.html
  src/tests/fixtures/warscroll/json/1592754653939-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1594377130100-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1594377962081-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1596572409302-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1596744633061-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1596798763772-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1597072426756-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1597072523138-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1597072550016-Warscroll_Builder.json
  src/tests/fixtures/warscroll/json/1597231391899-Warscroll_Builder.json
  src/tests/warscroll/warscrollJson.test.ts
  src/utils/battlescribe/getters.ts
  src/utils/dev/intakeTests.ts
  src/utils/import/options.ts
  src/utils/warscroll/getWarscrollArmy.ts
  src/utils/warscroll/warscrollUtils.ts
  yarn.lock
Labels: azyr, battlescribe, dependencies, maintenance, rule updates, warscroll-builder

#996 Add latest Underworlds Warbands (Fixes #995)
  src/army/daughters_of_khaine/units.ts
  src/army/ironjawz/units.ts
Labels: rule updates

#999 Add more legacy units
  README.md
  clean.js
  package.json
  src/army/beasts_of_chaos/units.ts
  src/army/bonesplitterz/allegiances.ts
  src/army/bonesplitterz/spells.ts
  src/army/bonesplitterz/units.ts
  src/army/cities_of_sigmar/units.ts
  src/army/fyreslayers/units.ts
  src/army/generic/effects.ts
  src/army/grand_alliances/order/subfactions/duardin.ts
  src/army/grand_alliances/order/subfactions/dwarfs.ts
  src/army/grand_alliances/order/subfactions/eldritch.ts
  src/army/grand_alliances/order/subfactions/empire.ts
  src/army/grand_alliances/order/subfactions/high_elves.ts
  src/army/grand_alliances/order/subfactions/misc_order.ts
  src/army/grand_alliances/order/subfactions/swifthawk_agents.ts
  src/army/grand_alliances/order/subfactions/wood_elves.ts
  src/army/grand_alliances/order/units.ts
  src/army/idoneth/spells.ts
  src/army/idoneth/units.ts
  src/army/ironjawz/units.ts
  src/army/kharadron_overlords/units.ts
  src/army/legions_of_grief/spells.ts
  src/army/sylvaneth/units.ts
  src/army/tomb_kings/units.ts
  src/army/tzeentch/endless_spells.ts
  src/army/tzeentch/units.ts
  src/tests/azyr/getAzyrArmy.test.ts
  src/tests/battlescribe/battlescribeHTML.test.ts
  src/tests/fixtures/warscroll/json/1594377962081-Warscroll_Builder.json
  src/tests/warscroll/warscrollJson.test.ts
  src/tests/warscroll/warscrollPdf.test.ts
  src/utils/dev/verify.ts
  yarn.lock
Labels: rule updates
