Repository daviseford/aos-reminders, pull requests merged in 2021-06, with the labels that each got.

#1288 Change Death Grip ability to be related to the COMBAT_PHASE
  src/factions/sons_of_behemat/units.ts
Labels: rule updates

#1292 AoS 3.0 (fixes #1291)
  clean.js
  package.json
  src/components/info/banners/app_banner.tsx
  src/components/routes/Faq.tsx
  src/components/routes/Home.tsx
  src/ducks/selections.ts
  src/factions/kharadron_overlords/subfactions.ts
  src/factions/kharadron_overlords/triumphs.ts
  src/factions/slaanesh/scenery.ts
  src/factions/temporaryAdapter.ts
  src/generic_rules/artifacts.ts
  src/generic_rules/command_abilities.ts
  src/generic_rules/command_traits.ts
  src/generic_rules/core_rules.ts
  src/generic_rules/index.ts
  src/generic_rules/prayers.ts
  src/generic_rules/realmscape_artifacts.ts
  src/generic_rules/realmscape_features.ts
  src/generic_rules/realmscape_spells.ts
  src/generic_rules/scenery.ts
  src/generic_rules/spells.ts
  src/generic_rules/triumphs.ts
  src/meta/rule_sources.ts
  src/store/initialAppState.ts
  src/tests/__mock.ts
  src/tests/azyr/getAzyrArmy.test.ts
  src/tests/battlescribe/battlescribeHTML.test.ts
  src/tests/warscroll/warscrollJson.test.ts
  src/tests/warscroll/warscrollPdf.test.ts
  src/types/army.ts
  src/types/data.ts
  src/types/selections.ts
  src/types/terrain.ts
  src/utils/azyr/getAzyrArmy.ts
  src/utils/battlescribe/getters.ts
  src/utils/getArmy/getArmy.ts
  src/utils/getArmy/getCollection.ts
  src/utils/getArmy/modify.ts
  src/utils/hooks/useGetArmyBuilderCards.tsx
  src/utils/import/addSideEffectsToImport.ts
  src/utils/import/index.ts
  src/utils/warscroll/getWarscrollArmy.ts
  yarn.lock
Labels: enhancement, in progress, rule updates

#1295 Add core battalions and remove them from the Core Rules section
  package.json
  src/generic_rules/core_battalions.ts
  src/generic_rules/core_rules.ts
  src/generic_rules/index.ts
  src/utils/getArmy/modify.ts
Labels: rule updates

#1297 Update endless spells with proper phases
  package.json
  src/factions/beasts_of_chaos/endless_spells.ts
  src/factions/daughters_of_khaine/endless_spells.ts
  src/factions/flesh_eater_courts/endless_spells.ts
  src/factions/fyreslayers/units.ts
  src/factions/gloomspite_gitz/endless_spells.ts
  src/factions/greenskinz/spells.ts
  src/factions/greenskinz/units.ts
  src/factions/kharadron_overlords/triumphs.ts
  src/factions/lumineth_realmlords/endless_spells.ts
  src/factions/nighthaunt/endless_spells.ts
  src/factions/ossiarch_bonereapers/endless_spells.ts
  src/factions/seraphon/endless_spells.ts
  src/factions/skaventide/endless_spells.ts
  src/factions/slaanesh/endless_spells.ts
  src/factions/slaves_to_darkness/endless_spells.ts
  src/factions/sylvaneth/endless_spells.ts
  src/factions/tzeentch/endless_spells.ts
  src/factions/tzeentch/spells.ts
  src/factions/tzeentch/units.ts
  src/generic_rules/artifacts.ts
  src/generic_rules/command_abilities.ts
  src/generic_rules/command_traits.ts
  src/generic_rules/core_battalions.ts
  src/generic_rules/core_rules.ts
  src/generic_rules/endless_spells.ts
  src/generic_rules/prayers.ts
  src/generic_rules/realmscape_artifacts.ts
  src/generic_rules/realmscape_commands.ts
  src/generic_rules/realmscape_features.ts
  src/generic_rules/realmscape_spells.ts
  src/generic_rules/scenery.ts
  src/generic_rules/triumphs.ts
  src/meta/rule_sources.ts
  src/tests/azyr/getAzyrArmy.test.ts
  src/tests/battlescribe/battlescribeHTML.test.ts
  src/tests/utils.test.ts
  src/tests/warscroll/warscrollJson.test.ts
  src/tests/warscroll/warscrollPdf.test.ts
  src/types/realmscapes.ts
  src/utils/hooks/useGetArmyBuilderCards.tsx
  src/utils/import/index.ts
  src/utils/import/options.ts
Labels: rule updates

#1301 Add Grand Strategies
  package.json
  src/ducks/selections.ts
  src/factions/temporaryAdapter.ts
  src/generic_rules/core_rules.ts
  src/generic_rules/grand_strategies.ts
  src/store/initialAppState.ts
  src/tests/__mock.ts
  src/tests/azyr/getAzyrArmy.test.ts
  src/tests/battlescribe/battlescribeHTML.test.ts
  src/tests/warscroll/warscrollJson.test.ts
  src/tests/warscroll/warscrollPdf.test.ts
  src/types/army.ts
  src/types/data.ts
  src/types/selections.ts
  src/utils/azyr/getAzyrArmy.ts
  src/utils/battlescribe/getters.ts
  src/utils/getArmy/getArmy.ts
  src/utils/getArmy/getCollection.ts
  src/utils/getArmy/modify.ts
  src/utils/hooks/useGetArmyBuilderCards.tsx
  src/utils/import/addSideEffectsToImport.ts
  src/utils/import/index.ts
  src/utils/pdf/generate/layouts/layoutUtils.ts
  src/utils/textUtils.ts
  src/utils/warscroll/getWarscrollArmy.ts
  yarn.lock
Labels: enhancement, rule updates

#1303 Fix Lambent Light casting value (fixes #1302)
  package.json
  src/components/info/banners/app_banner.tsx
  src/factions/lumineth_realmlords/spells.ts
  yarn.lock
Labels: rule updates
